@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #f2f1e7;
  --main-color: #a47864;
  --detail-color: #915b4a;
  --font-title: "Alegreya", serif;
  --font-body: "Alegreya Sans", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brown-main: var(--main-color);
  --color-brown-detail: var(--detail-color);

  --font-title: var(--font-title);
  --font-body: var(--font-body);
}

@layer components {
  .button_1 {
    @apply bg-brown-detail focus:outline-brown-detail rounded-lg px-6 py-2 font-bold text-white transition;
  }
  .button_1:focus {
    @apply outline-4 outline-offset-2 outline-solid;
  }
  .button_2 {
    @apply bg-brown-detail focus:outline-brown-detail w-full rounded-lg px-4 py-2 font-bold text-white;
  }
  .button_2:disabled {
    @apply text-gray-400;
  }
  .button_2:focus {
    @apply outline-4 outline-offset-2 outline-solid;
  }
}

/* Importar CSS de Leaflet */
@import 'leaflet/dist/leaflet.css';

/* Solucionar problema de iconos faltantes */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-default-shadow-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
